body {
    background-color:#ffffff;   
    font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",verdana,arial;  
    text-align: center;   

}

h2, h3, h4 {
    font-family: "times";
    font-weight: 900;
}
img {
    display: block;
    margin: auto;
}

.videocontainer {
    padding: 20px;
}

.reviews {
    padding: 25px;
}
.reviews  h3 {
    font-style: italic;
}

.reviews  h4 {
    font-family: verdana;
    font-weight: 400;
    margin-left: 300px;
}

a {
    color: #00f;
}
/***************
logo
****************/

 #logo-main {
    display: block;
    margin: 35px auto;
    max-width: 100%;
    height: auto;
    width: auto\9;
}
/*/logo*/

/************************************************
nav bar and boostrap customization and over-rides
************************************************/
@media screen and (min-width: 768px){
    
    .navbar-default {
        background: transparent;
        border: none;
        padding: 35px 0;
    }

    .navbar-default .navbar-nav {
        width: 100%;
        text-align: center;

    }
    .navbar-default .navbar-nav li {
        display: inline-block;
        float: none;


    }
    .navbar-default .navbar-nav li a {
        font-size: 1.7em;
        padding: 15px 15px;
        color: #000;
        font-weight: bolder;
        border-radius: 7px;
    }
}


.navbar-toggle {
    float: center;
}
.navbar-toggle .icon-bar {
width:140px;


}


.navbar-default .navbar-nav li a {
    color: #000;
    font-weight: bolder;
}

/*Sets the text hover color on navbar*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #777;  
}

/*sets navbar 'active' text color*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: inherit;

}

.carousel-caption > h4 {
    color:#777;
}



 /*/bootstrap over-rides */


.extras.row {
    padding: 30px;
}
 /****************
 Footer styling
 ****************/

.footer {
    color: #fff;
    background: #222;
    padding: 42px 0;
    font-size: 12px;
    color: #a5a5a5;
    font-family: Helvetica, Arial, sans-serif;
}
.footer ul {margin: 0; padding: 0; float: left;}
.footer ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    text-transform: lowercase;
}

.footer ul li:after {content:" | "}
.footer ul li:last-child:after {content:"";}
.footer p {margin: 0; text-align: right; padding-right: 3px;}
.footer a {text-decoration: none; color: #539def; margin: 0 10px;}
.footer li:first-child a {margin-left: 4px;}
.footer a:hover, .footer a:active {text-decoration: underline;}

ul>li>a>img {
    display: inline-block;
    width:15px;
    height:15px;
}