h1 {
	font-size: 20px;
	color: black;
	text-align: center;
		background: rgba(255,255,255,.6);

}

h2 {
	font-family: 'Seymour One', sans-serif;
	font-style: italic;
}



button {
	border-radius: 5px;
	font-style: italic;

}

.map {
	border: 1px solid grey;
	background-size: 100%;
	height: 500px;

}
.header {
	text-align: center;
	padding: 5px;


}
body {
	background: #bdb;
	width:1000px;
}



.laguna {
	position: absolute;
	top: 700px;
	left: 50px;
}
.santaBarbara {
	position: absolute;
	top: 620px;
	left: 15px;
}
.dc {
	position: absolute;
	top: 610px;
	left: 780px;
}
.portland {
	position: absolute;
	top: 430px;
	left: 20px;
}

.seattle {
	position: absolute;
	top: 330px;
	left: 25px;
}

.nyc {
	position: absolute;
	top: 480px;
	left: 800px;
}

.info {
	font-size: 20px;
	color: blue;


}



img {
	margin: 0 auto;
	border: 3px solid grey;
	border-radius: 50px;
}

footer {
	margin-top: 20px;
}