body {
	background-color:#ffffff;	
	font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",verdana,arial;
        font-size: 100.1%;        
        font-weight: bolder;
        margin:0;
	padding: 0;
        text-decoration: none;
        text-align: center;      
}

#wrapper { 
	width: 51em;  
	margin: 0 auto; 
}

#header {
        background: url(wig.png) no-repeat top center;      
        margin-top:2em;
        padding-top:15.5em;
        padding-bottom:2em;
}
    

#navcontainer ul {
        list-style-type: none;
        padding-bottom:5em;

        width: 44em; 
        white-space:nowrap;
}

#navcontainer ul li { 
        display: inline; 
}

#navcontainer ul li a {
        font-size: 2em;
	font-family:"Berlin Sans FB"
        font-style: normal;
        text-decoration: none;
        padding: .7em;
        color: #000000;
        background-color: #FFFFFF;
}

#navcontainer ul li a:hover {
        color: #707070;
        background-color: #FFFFFF;
}

.eppsvideocontainer {  
        padding-bottom:2em;
        background: url(neweps.1.png) no-repeat left;
width: 44em;
 
        font-family:"times";
        font-size: 1.2em;

} 

.videocontainer {  
width: 44em;
font-family:"times";
        font-size: 1.2em;
        padding-bottom:2em;
} 


h2 {

       font-family:"times";
        font-size: 1.2em;
}



#gear {
text-decoration: none;
vertical-align:text-middle;
}
#gear ul
{
margin: 0;
padding: 0;
list-style-type: none;
vertical-align:text-middle;
}

#gear li.shirt
 { 
      background-image: url(TBlackWhite.jpg);
background-repeat: no-repeat;
background-position: 0px 5px; 
padding-left: 14px;

vertical-align:text-middle;
left-margin: 2em; 
}

#gear a
{
vertical-align:text-middle;
display: block;
    color: #000000;
    background-color: #FFFFFF;
width: 50em;
padding: .2em .8em;
text-color: #000000;
text-decoration: none;
}

#gear a:hover
{
color: #707070;
background-color: #FFFFFF;
}

#footer {
        font-size: 10px;
text-align: left;
white-space:nowrap;
margin-top:50px;
margin-bottom:20px;
}

img.middle{
vertical-align:text-middle;
}


