body {
    background-color:#ffffff;   
    font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",verdana,arial;     

}




/*logo*/
 #logo-main {
    display: block;
    margin: 35px auto;
}
/*/logo*/
/*boostrap over-rides*/

.navbar-default {
    background: #fff;
    border: none;
    padding-top: 35px;
}

.navbar-default .navbar-nav {
    width: 100%;
    text-align: center;

}
.navbar-default .navbar-nav li {
    display: inline-block;
    float: none;


}
.navbar-default .navbar-nav li a {
    font-size: 1.7em;
    padding: 15px 15px;
    color: #000;
    font-weight: bolder;
    border-radius: 7px;
}

/*Sets the text hover color on navbar*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #777;  
}

/*sets navbar 'active' text color*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: inherit;

}

 /*/bootstrap over-rides */

/*old terrible css follows... needs tweaking*/
#wrapper { 
    width: 51em;  
    margin: 0 auto; 
}



.eppsvideocontainer {  
        padding-bottom:2em;
        background: url(neweps.1.png) no-repeat left;
width: 44em;
 
        font-family:"times";
        font-size: 1.2em;

} 

.videocontainer {  
width: 44em;
font-family:"times";
        font-size: 1.2em;
        padding-bottom:2em;
} 


h2 {

       font-family:"times";
        font-size: 1.2em;
        font-weight: 900;
}



#gear {
text-decoration: none;
vertical-align:text-middle;
}
#gear ul
{
margin: 0;
padding: 0;
list-style-type: none;
vertical-align:text-middle;
}

#gear li.shirt
 { 
      background-image: url(TBlackWhite.jpg);
background-repeat: no-repeat;
background-position: 0px 5px; 
padding-left: 14px;

vertical-align:text-middle;
left-margin: 2em; 
}

#gear a
{
vertical-align:text-middle;
display: block;
    color: #000000;
    background-color: #FFFFFF;
width: 50em;
padding: .2em .8em;
text-color: #000000;
text-decoration: none;
}

#gear a:hover
{
color: #707070;
background-color: #FFFFFF;
}

#footer {
        font-size: 10px;
text-align: left;
white-space:nowrap;
margin-top:50px;
margin-bottom:20px;
}

img.middle{
vertical-align:text-middle;
}

/*end of old terrible css*/