body {
    background-color:#ffffff;   
    font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",verdana,arial;  
    text-align: center;   

}

h2, h3, h4 {
    font-family: "times";
    font-weight: 900;
}
img {
    display: block;
    margin: auto;
}

.videocontainer {
    padding: 20px;
}

.reviews {
    padding: 25px;
}
.reviews  h3 {
    font-style: italic;
}

.reviews  h4 {
    font-family: verdana;
    font-weight: 400;
    margin-left: 300px;
}

a {
    color: #00f;
}
/***************
logo
****************/

 #logo-main {
    display: block;
    margin: 35px auto;
    max-width: 100%;
    height: auto;
    width: auto\9;
}
/*/logo*/

/************************************************
nav bar and boostrap customization and over-rides
************************************************/

.navbar-default {
    background: transparent;
    border: none;
    padding: 35px 0;
}

.navbar-default .navbar-nav {
    width: 100%;
    text-align: center;

}
.navbar-default .navbar-nav li {
    display: inline-block;
    float: none;


}
.navbar-default .navbar-nav li a {
    font-size: 1.7em;
    padding: 15px 15px;
    color: #000;
    font-weight: bolder;
    border-radius: 7px;
}

/*Sets the text hover color on navbar*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #777;  
}

/*sets navbar 'active' text color*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: inherit;

}

.carousel-caption > h4 {
    color:#777;
}

 /*/bootstrap over-rides */


.extras.row {
    padding: 30px;
}
 /****************
 Footer styling
 ****************/

footer {
    color: #fff;
    background: #222;
}

 /*slide up styling

 footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0px;
    height: 300px;
    background-color: #fff;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
}



.fTab {
     position: fixed;
    left: 0;
    bottom: 0;
    padding: 1em;
    background-color: gray;
    
    -webkit-transition: bottom 0.5s;
    transition: bottom 0.5s;
}

.fTab.active {
    bottom: 300px;
}

.fTab.active + footer {
    max-height: 300px;
}*/

/*end footer*****
*****************/



/*old terrible css follows... needs tweaking*/
/*#wrapper { 
    width: 51em;  
    margin: 0 auto; 
}



.eppsvideocontainer {  
        padding-bottom:2em;
        background: url(neweps.1.png) no-repeat left;
width: 44em;
 
        font-family:"times";
        font-size: 1.2em;

} 

.videocontainer {  
width: 44em;
font-family:"times";
        font-size: 1.2em;
        padding-bottom:2em;
} 


h2 {

       font-family:"times";
        font-size: 1.2em;
        font-weight: 900;
}



#gear {
text-decoration: none;
vertical-align:text-middle;
}
#gear ul
{
margin: 0;
padding: 0;
list-style-type: none;
vertical-align:text-middle;
}

#gear li.shirt
 { 
      background-image: url(TBlackWhite.jpg);
background-repeat: no-repeat;
background-position: 0px 5px; 
padding-left: 14px;

vertical-align:text-middle;
left-margin: 2em; 
}

#gear a
{
vertical-align:text-middle;
display: block;
    color: #000000;
    background-color: #FFFFFF;
width: 50em;
padding: .2em .8em;
text-color: #000000;
text-decoration: none;
}

#gear a:hover
{
color: #707070;
background-color: #FFFFFF;
}

#footer {
        font-size: 10px;
text-align: left;
white-space:nowrap;
margin-top:50px;
margin-bottom:20px;
}

img.middle{
vertical-align:text-middle;
}*/

/*end of old terrible css*/